@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 0 0% 14%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 14%;
    --primary: 354 100% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 95%;
    --secondary-foreground: 0 0% 18%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 354 100% 96%;
    --accent-foreground: 354 100% 46%;
    --destructive: 354 100% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 354 100% 55%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
